
@{
    ViewBag.Title = "Địa chỉ liên hệ";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<div class="w3-agile-google_map">
    <div class="col-md-12 w3-agile-map-left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d781.5140034232049!2d103.95951145975025!3d21.290141212750797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3132f57576f78bab%3A0xf54514d208bd1efb!2zNDEwIFFMNiwgQ2hp4buBbmcgU2luaCwgU8ahbiBMYSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1716658615850!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="clearfix"></div>
</div>

