
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding: 0px 10px;">
    <div id="main_cart">
        <div class="product-viewlist">
            <div class="_6ziKNS AtVAkr">
                <div class="ygADNw"></div>
                <div class="V7WKVk">Giỏ hàng của bạn còn trống</div>
                <a class="lagDN4" href="/">
                    <button class="shopee-button-solid shopee-button-solid--primary">
                        <span class="foRFm5">MUA NGAY</span>
                    </button>
                </a>
            </div>
            <div style="display: contents;">
                <div class="_03zJAw"></div>
            </div>
        </div>
    </div>
</div>


