<div class="cart-drawer-container">
    <a class="cart-drawer flex v-center" href="@Url.Action("GioHang", "Cart")">
        <i class="fa fa-shopping-cart shopee-svg-icon navbar__link-icon icon-shopping-cart-2" style="font-size: 30px;" aria-hidden="true"></i>
    </a>
    <div class="shopee-cart-number-badge">@ViewBag.Tongsoluong</div>
</div>
